/*Color Palette
whiteish - #F8F7F7
mustard yellow - #E6BB37
light grey - #B2ACAA
dark grey - #7F827B
pink - #A04E58
*/

:root {
    --background-color: #F8F7F7;
    --accent-light: #E6BB37;
    --light-color: #B2ACAA;
    --dark-color: #7F827B;
    --accent-dark: #A04E58;
    --font-heading: 'PT Serif', serif;
    --font-para: 'Public Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--dark-color);
    margin: 0px;
    display: flex;
    flex-direction: column;

}

main {
    align-self: center;
    max-width: 50rem;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: bold;
    text-align: left;
}

p,
label,
a {
    font-family: var(--font-para);
    text-align: left;

}

img {
    width: 300px;
    display: block;
    width: 100%;
    flex: 1 100px;
    max-width: 500px;
    min-width: 100px;
}

.about {
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

header {
    order: -1;
}

nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translatey(-600px);
    opacity: 0;
    z-index: 100;
}

.open nav {
    transform: translatey(0);
    opacity: 1;
    transition: all ease 300ms;
}

.menu-bar ul {
    flex: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-bar li {
    border-bottom: 2px solid transparent;
}

.menu-bar li:first-child {
    padding-top: 2.5rem;
}

.menu-bar li:last-child {
    border: none;
    padding-bottom: 2rem;
}

.menu-bar a {
    color: inherit;
    padding: 1rem;
    display: block;
    font-family: var(--font-para);
    text-decoration: none;
    font-size: 15px;
    letter-spacing: .25rem;
    transition: border-bottom 300ms ease;
}

.menu-bar a:hover {
    color: var(--accent-light);
    border-bottom: 2px solid var(--accent-light);
}

.hamburger,
.close {
    padding: 1rem;
    cursor: pointer;
    fill: #445C6C;
    height: 4rem;
    width: 4rem;
}

.hamburger:hover,
.close:hover {
    fill: white;
}

.svg-info {
    display: none;
}

@media (min-width: 500px) {
    header {
        order: 0;
    }

    .menu-bar {
        font-size: 1rem;
    }

    nav {
        position: static;
        transform: none;
        opacity: 1;
    }

    .menu-bar ul {
        display: flex;
        justify-content: space-around;
    }

    .menu-bar li {
        border: none;
    }

    .menu-bar li:first-child,
    .menu-bar li:last-child {
        padding: 0px;
    }

    .hamburger,
    .close {
        display: none;
    }
}

.button {
    display: inline-block;
    position: fixed;
    bottom: .5em;
    right: .5em;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    border: solid 2px white;
    margin-top: 15px;
    transition: background-color 300ms ease;
    transition: border 300ms ease;

}

.button:hover {
    background-color: var(--accent-light);
    border: solid 2px transparent;
}

.active {
    color: var(--accent-light);
    border-bottom: 2px solid var(--accent-light);
}

.hero img {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: initial;

}

.hero {
    position: relative;
}

.overlay .text-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    color: var(--background-color);
    letter-spacing: 8px;
    text-shadow: 3px 3px 5px #222;
    font-size: 60px;
    font-weight: 100;
}

.overlay p {
    margin: 0;
    color: var(--light-color);
}

.footer {
    background-color: var(--accent-light);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    padding: 10px;
}

.footer img {
    max-width: 20px;
}

/*
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: pink;
    padding: 30px;
}

.panel .text-wrap {
    margin: 20px;
    flex: 1 1 auto;
    max-width: 40em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: calc(40em + 340px);
}

.panel > .image-wrap {
    flex: 1 1 300px;
    max-width: 340px;
    min-width: 150px;
}
*/

.tagline {
    font-size: 40px;
    margin: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    order: -1;
}


@media (min-width: 481px) {
    .panel {
        flex-direction: row;
    }

}

@media (min-width: 901px) {

}

@media (max-width: 480px) {
    
}

.codepen a {
    text-decoration: none;
    color: var(--background-color);
}
.codepen {
    margin: 60px 0;
}

.codepen ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
 .codepen li {
    position: relative;
    overflow: hidden;
    margin: 10px;
  }

  .codepen .image-wrap img {
    display: block;
    width: 100%;
    width: 350px;
    height: 250px;
  }

  .codepen .overlayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    opacity: 0;
    transition: opacity 1000ms ease;
  }

  .codepen .image-wrap {
    /*  transition: whatToTransition timeItTakes theTransition */
      transition: transform 500ms ease;
    }

.codepen li:hover .image-wrap {
    transform: scale(1.2);
    }
.codepen li:hover .overlayer {
    opacity: 1;
  }

.text-content {
    color: #fff;
    text-shadow: 1px 1px 3px #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }
  .text-content > h2,
  .text-content > p {
    margin: 0.3rem 0;
  }
  
  .text-content > h2 {
    font-size: 1.6rem;
  }
  
  .text-content > p {
    font-size: 1.2rem;
  }
  
  /* needs position relative to show underline */
  .text-content > a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 1.25rem;
    position: relative;
    cursor: pointer;
  }
  .text-content > a::before {
    content: "";
   background-color: var(--accent-light);
   display: block;
   height: 3px;
   width: 100%;
   position: absolute;
   bottom: -6px;
   transform: scale(0);
   transition: transform 250ms ease-in;
 
   /* this reverse the direction of the scale after the hover */
   transform-origin: 100% 0;
 }
 .text-content > a::after {
    content: "→";
    font-size: 1.5rem;
    margin-left: 0.25rem;
    position: absolute;
    top: -0.5rem;
    transition: transform 300ms ease-in 200ms;
  /*   thisIsADelay */
  }
  
  /* add a transform to scale the underline */
  .text-content > a:hover::before {
    transform: scale(1);
    /* this makes the underline appear from the left */
    transform-origin: 0 0;
  }

  .text-content > a:hover::after {
    transform: translatex(8px);
  }
   /* move the arrow */
  aside {
    margin: 5em;
    align-self: flex-start;
  }
  
  aside li {
    margin-bottom: 0.5em;
  }

  embed {
      width: 800px;
      height: 1000px;
      margin-bottom: 50px;
  }
